<div class="w-full">
  <h2 class="text-center my-4 text-4xl font-extrabold text-blue-500">
    Update product
  </h2>
  <form
    [formGroup]="updateForm"
    (submit)="handleSubmit($event)"
    class="mx-auto mt-4 ml-4"
  >
    <div class="mb-5 grid grid-cols-[50%_40%] gap-2">
      <div class="">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Name</label
        >
        <input
          [(ngModel)]="editProduct.name"
          name="name"
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Name..."
          required
          formControlName="name"
        />
      </div>
      <div class="">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Quantity</label
        >
        <input
          [(ngModel)]="editProduct.quantity"
          name="quantity"
          type="number"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Quantity..."
          required
          formControlName="quantity"
        />
      </div>
    </div>
    <div class="mb-5 grid grid-cols-[50%_40%] gap-2">
      <div class="">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Image</label
        >
        <input
          [(ngModel)]="editProduct.image"
          name="image"
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Image link..."
          required
          formControlName="image"
        />
      </div>
      <div class="">
        <label
          for="price"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Price</label
        >
        <input
          [(ngModel)]="editProduct.price"
          name="price"
          type="number"
          id="price"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Price..."
          required
          formControlName="price"
        />
      </div>
    </div>
    <div class="w-[90%]">
      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Description</label
      >
      <textarea
        [(ngModel)]="editProduct.description"
        name="description"
        id="description"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Description..."
        required
        formControlName="description"
      ></textarea>
    </div>
    <button
      type="submit"
      class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Submit
    </button>
  </form>
</div>
